
<!-- Navigation -->
<nav id="mainNav"
	class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i
					class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand"><span style="color: yellow;">PhD </span> <span style="color: lightblue;">redmine </span></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="page-scroll"><a ng-click="ccr.goToSection('portfolio')">Portfolio</a></li>
				<li style="color: lightblue;" ng-class="{active: nbc.isActive('main.userTasks') || nbc.isActive('main.userTask')}" ng-show="nbc.user"> <a ng-click="nbc.toUserTasks()">Zadaci &nbsp <span class="badge">{{numberOfUserTasks}}</span> </a></li>
				<li ng-show="nbc.user"> <a ng-click="">Grupni zadaci &nbsp <span class="badge">{{numberOfGroupTasks}}</span> </a></li>
				<li ng-class="{active: nbc.isActive('main.userInvolvedTasks') || nbc.isActive('main.userInvolvedClaimTask')}" ng-show="nbc.user"> <a ng-click="nbc.toUserInvolvedTasks()">Uključen u zadatak &nbsp <span class="badge">{{numberOfInvolvedTasks}}</span> </a></li>
				<li class="page-scroll" ng-show="!nbc.user"> <a ui-sref="login"> <i class="fa fa-sign-in" style="font-size: 16px;"> </i> Sign in </a> </li>
				<li ng-class="{active: nbc.isActive('main.userPage') || nbc.isActive('main.userEdit')}" class="page-scroll" ng-show="nbc.user"> <a ng-click="nbc.userPage()"> <i> {{nbc.user.firstName}} &nbsp {{nbc.user.lastName}} </i> </a> </li>
				<li class="page-scroll" ng-show="nbc.user"> <a ng-click="nbc.signOut()"> Logout <i class="fa fa-sign-out"></i> </a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
