 <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                	<br/><br/><br/><br/><br/><br/>
                    <div class="intro-text">
                        <span class="name"> <span style="color: #4d6600;">Dobrodošli </span> &nbsp <span style="color: brown;"> {{ucr.user.firstName}} &nbsp {{ucr.user.lastName}} </span> </span>
                        <hr class="star-light">
                        <span class="skills" style="color: blue;"> <u> Vaši zadaci Vas nestrpljivo iščekuju. </u> </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
