
<!-- Header -->
<section style="background-color: gray;">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 toppad">
				<br/><br/><br/><br/>
				<div class="panel panel-info">
		            <div class="panel-heading text-center">
		              <h3 class="panel-title"><u>{{utc.task.name}}</u></h3>
		            </div>
		            <div class="panel-body">
		              <div class="row">
		              	<form class="state-form form-horizontal text-center" name="utc.form" novalidate>
			                <div class="form-group">
				                <div class="col-sm-8 col-sm-offset-2">
				                  <br/>
				                  <table class="table table-user-information">
				                    <tbody>
				                      <tr ng-repeat="form in utc.taskForm">
				                        <td ng-if="form.required == true"> <b>{{form.name}} <span style="color: red;">* </span> </b> </td>
																<td ng-if="form.required == false"> <b>{{form.name}} </b> </td>
				                        <td ng-if="form.type == 'boolean' && form.writable == true"><input class="form-control" type="checkbox" ng-model="utc.params[form.id]" /></td>
																<td ng-if="(form.type == 'string' || form.type == 'long') && form.writable == true && utc.taskSastanak != true"><input class="form-control" type="text" ng-model="utc.params[form.id]" size="42"/></td>
																<td ng-if="(form.type == 'string' || form.type == 'long') && form.writable == true && utc.taskSastanak == true">
																	<select class="form-control" name="chooseProfessor" ng-options="proffesor.id as (proffesor.firstName + ' ' + proffesor.lastName) for proffesor in utc.ftnProfessors track by proffesor.id" ng-model="utc.params[form.id]">
																	</select>
																</td>

																<td ng-if="form.type == 'boolean' && form.writable == false"><input class="form-control" type="checkbox" ng-model="utc.params[form.id]" disabled/></td>
																<td ng-if="(form.type == 'string' || form.type == 'long') && form.writable == false">{{utc.params[form.id]}} </td>

																<td ng-if="form.type == 'enum' && form.writable == true">
																	<div ng-repeat="enumObject in form.enumValues">
																		{{enumObject.name}} <input type="radio" name="radio1" value="{{enumObject.id}}" ng-model="utc.params[form.id]" /> &nbsp&nbsp&nbsp&nbsp
																	</div>
																</td>
																<td ng-if="form.type == 'date' && form.writable == true">
																	<input type="text" name="dateInsurance1" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="utc.params[form.id]" is-open="popup1.opened" datepicker-options="options" close-text="Close" size="25" readonly/>
																	<span class="input-group-btn">
																	     <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
																	</span>
																</td>
																<td ng-if="form.type == 'date' && form.writable == false">
																	{{utc.params[form.id] | date:'dd/MMMM/yyyy'}}
																</td>
				                      </tr>
				                    </tbody>
		                  		</table>
						    	</div>
				              </div>
		                </form>
		              </div>
           			</div>
           			<div class="panel-footer">
                        <div class="text-center">
                            <button type="button" ng-click="utc.completeTask()" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Complete task"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
		        </div>
			</div>
		</div>
	</div>
</section>
